*{
    font-family: 'Oswald', sans-serif;
}

.Logo{
    width: 10%; 
    height: 100px;
}
.Logo img{
    width: 140px;
}
.body1{
    background-color: white;
}
.body2{
    background-color: black;
    width: 100%;
}
body{
    background-color: #F6890A;
}

table, th, td{
    width: 100%;
    border: 1px none;
    border-collapse: collapse;
    
}

.Name{
    font-family: 'Bold Dragon', sans-serif;
    font-size: 2em;
    width: 70%;
    text-align: left;
}

h2{
    font-size: 30px;
}

.Menu{
    background-color: #778899;
    text-align: right;
    padding-right: 3%;
}

button{
    text-align: center;
    display: inline-block;
    background-color: #f6890a;
    color: black;
    border-radius: 3px;
    border-color: black;
    border-width: 5px;
    font-size: 15px;
    
}

button:hover{
    font-weight: 20px;
    color: #f6890a;
    background-color: black;
    cursor: pointer;
}

.Introduction{
    font-size: 20px;
}

.intro_left{
    color: #f6890a;
    font-size: 70px;
    text-shadow: #778899 2px 2px;
}

.intro_left_end{
    color: whitesmoke;
}

/*Slideshow container*/
.slideshow-container{
    box-sizing: border-box;
    text-align: center;
    max-width: 1000px;
    border-width: 20px;
    border-color: black;
}

.slideshow-container img{
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
}

.slides{
    display: none;
}

.navigation-dots{
    text-align: center;
}

.prev, .next{
    cursor: pointer;
    position: relative;
    bottom: 0px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #F6890A;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6secs ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Position the next button to the right.*/
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little transparency.*/
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
/*Caption text*/
.text{
    color: #f2f3f2;
    font-size: 15px;
    /* padding: 8px 12px; */
    /* position: relative; */
    /* bottom: 550px; */
    /* top: auto; */
    /* width: 100%; */
    text-align: center;
}

/*Number text (1/3 etc) */
.number_text{
    color: #f2f3f2;
    font-size: 12px;
    position: relative;
    left: -44%;
}
.number_text,.text{
    position: relative;
    bottom: -30px;
    
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#F6890A;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: black;
}

/*Fading animation*/
.fade{
    animation-name: fade;
    animation-duration:  1.5s;
}

footer{
    background-color: #778899;
    padding: 20px 0px;
    color:  whitesmoke;
    font-weight: 200;
}

@keyframes fade {
    from{
        opacity: 0.4;
    }

    to{
        opacity: 1;
    }
}

/*=====================================================================
                 About Web-page Style-sheet 
=====================================================================*/
.Welcome{
    font-family: 'Knife Princess', sans-serif;
    color: black;
    text-shadow: #f2f3f2 2px 2px;
}
.header{
    color: #f6890a;
}

.about{
    display: flex;
}

.about img{
    width: 50%;
}

.text_info{
    display: inline-block;
    color: #f2f3f2;
    font-size: 18px;
    margin-left: 1%;
}

.contact_icons a{
    color: whitesmoke;
}
.contact_icons .phone{
    text-decoration: none;
}

.Lets_chat button{
    font-size: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

.Lets_chat button:hover{
    border-color: #00ff33;
    background-color: rgba(59, 59, 59, 0.8);
    color: whitesmoke;
}

video{
    vertical-align: middle;
    width: 95%;
    border-radius: 20px;
}

.text .caption{
    color: whitesmoke;
}


@media screen and (max-width:767px) {
    .Logo img{
        width: 120px;
    }
    .Name{
        font-size: 160%;
    }
    .Menu{
        text-align: center;
    }

    .intro_left{
        font-size: 45px;
        text-shadow: black;
        text-align: center;
    }
    
    .about img{
        /* width: 300px; */
        height: 200px;
    }

    .contact_icons{
        position: relative;
        bottom: 180px;
    }
    .contact_icons a{
        font-size: 80%;
    }

    .Lets_chat button{
        position: relative;
        left: 0px;
        width: 100%;
    }
}